.body-wrapper {
    display: flex;
    flex-direction: row;
}

.tag-button {
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 10px;
    font-size: 0.7rem;
}

.sidebar {
    position: fixed;
    width: max-content;
}